@ProximaNova-ExtraBoldItalic  : "ProximaNova-ExtraBoldItalic";
@ProximaNova-Light  : "ProximaNova-Light";
@ProximaNova-ExtraBold  : "ProximaNova-ExtraBold";

@font-face {
  font-family: "ProximaNova-ExtraBoldItalic";
  src: url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.eot");
  src: url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.woff") format("woff"),
  url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"),
  url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova-ExtraBold";
  src: url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot");
  src: url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff") format("woff"),
  url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}