@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: "ProximaNova-ExtraBoldItalic";
    src: url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.eot");
    src: url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.woff") format("woff"), url("../fonts/ProximaNova-ExtraBoldItalic/ProximaNova-ExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova-ExtraBold";
    src: url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot");
    src: url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff") format("woff"), url("../fonts/ProximaNova-ExtraBold/ProximaNova-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    /*background-color: #0D1B2B;*/
    /*overflow-x: hidden;*/
    /*font-family: roboto;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*margin: 0;*/
}
.slider {
    height: 80vh;
}
.slider h2 {
    font-family: "ProximaNova-ExtraBoldItalic";
    color: red;
    padding-top: 50px;
    padding-left: 30px;
}
.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.slider-wrapper div {
    position: relative;
}
.slider-wrapper {
    margin-top: 5vw;
    margin-left: 11vw;
}
.slide-image {
    height: 220px;
}
.slide-image img {
    width: inherit;
    height: inherit;
    cursor: pointer;
    object-fit: cover;
}
.slide-content {
    width: 42vw;
    padding: 2vw 12vw 0vw 9vw;
}
.slide-title {
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.55vw;
    padding-bottom: 1.8vw;
    color: #4d4f54;
    font-family: "ProximaNova-ExtraBold";
}
.slide-text {
    font-size: 14px;
    line-height: 1.2vw;
    opacity: 0.8;
    padding-bottom: 4vw;
    color: #000;
    font-family: "ProximaNova-Light";
}
.slide-nav {
    margin-left: 64vw;
    margin-top: -5.5vw;
}
div.overlay-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s ease all;
}
div.overlay-blue:hover {
    background-color: rgba(255, 0, 0, 0.64);
}
.arrows {
    width: 3.5vw;
    margin-top: -5.8vw;
    margin-left: 70vw;
    position: relative;
}
.arrow {
    display: inline-block;
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    background: transparent;
    text-indent: -9999px;
    border-top: 0.15vw solid #4d4f54;
    border-left: 0.15vw solid #4d4f54;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: transparent;
}
.arrow:hover {
    border-color: red;
    border-width: 0.25vw;
}
.arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}
.arrow.prev {
    transform: rotate(-45deg);
    left: 0;
}
.arrow.next {
    transform: rotate(135deg);
    right: 0;
}
